.tracksBanner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px;
  border-bottom: 1px solid gray;

  .tracksBanner__left {
    display: flex;
    flex: 0.9;

    div:not(:first-child) {
      flex: 1;
    }
    div:first-child {
      margin-right: 20px;
    }
  }
}
