.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 100vh;

  img {
    width: 30%;
  }

  a {
    padding: 12px;
    border-radius: 20px;
    background-color: #1db954;
    color: #fff;
    font-weight: 600;
  }
}
